# Xcode
*.xcodeproj/**/xcuserdata/
*.xcworkspace/**/xcuserdata/
*.xcodeproj/**/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive
